table {
    width: 40%;
    border-collapse: collapse;
    margin-left: 450px;
    margin-top: 100px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}
th {
    background-color: #f2f2f2;
    text-align: center;
}
h1{
    text-align: center;
}